
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;

}
body {
    background-color: rgb(241, 241, 241);
}
/* Шапка */
header{
    background-color:rgb(241, 241, 241);
    position: sticky;
    top: 0px;
    box-shadow: 0 1px 5px 1px rgb(43, 42, 42);
    z-index: 5;
}
.mainhead{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 1024px;
    background-color:rgb(241, 241, 241);
    position: sticky;
    top: 0px;
}
.headbg{
    background-color: white;
    height: 350px;
    display: flex;
    flex-direction: row-reverse;
    background-image: url("../img/bg.jpg");
}
.homeh{
    display: inline-block;
}
.homeh:hover{
    transform: rotate(1440deg);
    transition: 20s;
}


nav{
    margin-top: 30px;
}
nav  a, .promotext{
    margin: 0px 30px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
    font-family:'Lato', sans-serif;
    transition: 0.7s; 
    color: #46474a;
    display: inline-block;
}
nav a:visited, .promo div a:visited{
    color: #46474a;
}
nav a:hover, .product a:hover, .product a:hover, .next:hover, .prev:hover{
    transform: scaleY(1.2);
    color: rgb(64, 117, 53);
}
.h1cont{
    font-size: 1.5rem;
    font-weight: bold;
    font-style: normal;
    font-family: 'lato', sans-serif;
}
.h1cont:hover{
    transform: scaleY(1.2);
}

/* Форма */
.headform{
    background-color: rgb(241, 241, 241);
    width: 300px;
    height: 200px;
    margin: 100px 10% 0 0;
    box-shadow:  1px 1px 5px 1px rgb(43, 42, 42);
    border-radius: 30px;
}
.place, .sub, textarea{
    margin: 35px;
    text-align: center;
    text-decoration: none;
}
form input{
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(100,100,100);
    font-size: 1.2rem;
    font-family: 'lato', sans-serif;
    color: rgb(78, 78, 78);
}
form input:hover, form input:focus{
    background-color: rgb(228, 228, 228);
	border-radius: 5px;
    outline-color: rgb(228, 228, 228);
    border: none;
}
.subbutt, .buttondiv button, .buttondiv input{
    border: none;
    border-radius: 25px;
    background-color: rgb(85, 153, 85);
    color: white;
    transition: 0.5s;
    font-size: 1.1rem;
    height: 35px;
    width: 180px;
    box-shadow: 1px 1px 3px 1px rgb(10, 68, 10);
}
.subbutt:hover, .buttondiv button:hover, .buttondiv input:hover{
    background-color:  rgb(56, 124, 56);
    border-radius: 20px;
}
.subbutt:active, .buttondiv button:active, .buttondiv input:active {
    background-color:  rgb(42, 88, 42);
    border-radius: 20px;
    border: none;
    outline: none;
}
/* Main */
main{
    width: 1024px;
    text-align: center;
    padding-bottom: 40px;
    margin: auto;
}
h3{
    font-family:'lato', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: oblique;
    padding: 30px 0 30px;
    color: #46474a;;
}
h2, p{
    font-family:'lato', sans-serif;
    color: #46474a;;
}
/* Карусель */
.indexcontent{
    width: 1024px;
    margin: auto;
    position: relative;
}
.promo{
    display: none;
    animation-name: transit;
    animation-duration: 1s;
}
@keyframes transit{
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
.promo:first-child{
    display: block;
}
.promotext{
    font-size: 3rem;
}
.promotext:hover{
    font-size: 3.1rem;
    color: rgb(64, 117, 53);
}
.next, .prev{
    position: absolute;
    top: 45%;
    color:rgb(41, 41, 41);
    font-weight: bold;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.7s; 
}
.next:hover, .prev:hover{
    font-size: 3.1rem;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
.content{
    width: 1024px;
    margin: auto;

}
.stringph{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
}
figcaption{
    font-family: 'lato', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    font-style: oblique;
}
p, span  {
    text-align: justify;
    font-family: 'lato', sans-serif;
    font-size: 1rem;
}
.tab{
    margin-left: 40px;
}
/* Каталог */
    /* форма */
.catalogform{
    height: 230px;
    width: 800px;
    margin: 0 auto;
    background-color: rgb(241, 241, 241);
    position: relative;
    top: -60px;
    box-shadow: 0 1px 5px 1px rgb(43, 42, 42);
}
.catalogform form{
    display: table-cell;
}

main form span, main form input,  main form ul, main form select, main form button{
    margin-top: 10px;
}
.catalogform form{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: bolder;
}
.catalogform form p{
    margin-top: 10px;
}
.firstcull, .nextcull{
    text-align: left;
    margin-top: 10px;
}
.firstcull input, .nextcull input{
    width: 70px;
}
.catalogform p, .catalogform span, .catalogform h2{
    color: rgb(73, 73, 73);
}
.formblock{
    padding: 30px;
}
/* Каталог */
.product{
    text-align: left;
    padding: 40px;
    border-radius: 20px;
    margin: 40px 20px;
    width: 100%;
    background-color: rgb(220, 220, 220);
}
.catalog{
    width:1024px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.catalog img{
    width: 450px;
    height: 400px;
    transition: 0.5s;
}
.scroldiv{
    overflow: hidden;
    width: 450px;
    height: 400px;
    float: left;
    margin-right: 10px;
    box-shadow: 0 1px 5px 1px rgb(43, 42, 42);
    margin-top: 5px;
}
.catalog img:hover{
    transform: scale(1.1,1.1);
}
.offer, .adressdiv{
    margin: 10px 0px;
}
.product-desc{
    font-weight: bold;
}
.product a{
    color:#46474a;
}
.product div a, .product span a{
    color: rgb(64, 117, 53);
    font-weight: bold;
}
.product a:hover{
    color:  rgb(42, 88, 42);
}
/* About */
.contactform{
    background-color: rgb(241, 241, 241);
    width: 800px;
    height: 300px;
    margin: auto;
    box-shadow:  1px 1px 5px 1px rgb(43, 42, 42);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.buttondiv{
    margin-top: 20px;
}
.formblockleft .place, .formblock .sub, .formblock textarea{
    margin: 10px;
    text-align: center;
    text-decoration: none;
}
.formblock, .formblockleft{
    padding: 20px;

}
.formblockleft{
    margin-top: 40px;
}
.contactform textarea{
    width:330px;
    height: 150px;
    text-align: left;
    font-size: 1.5rem;
}
.contactform .sub{
    margin:10px;
}
.contactform .subbutt{
    width: 200px;
}
.empl{
    background-color:rgb(230, 230, 230);
    box-shadow: inset 0 -1px 5px 1px rgb(43, 42, 42);
    margin-top: 40px;
}
.empl img{
    box-shadow: 0 1px 5px 1px rgb(43, 42, 42);
    margin-top: 10px;
}
/* Услуги */
.service-first{
    margin-top: 40px;
    background-color: rgb(230, 230, 230);
    width: 900px;
    border-radius: 20px;
    box-shadow: 0 1px 5px 1px rgb(43, 42, 42);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.service-first:hover{
    transform: matrix(1, 0, 0, 1.1, 110, 0);
    transition: 0.3s;
}
.service-first h3, .service-content li{
    padding: 5px;
}
.service-content{
    text-align: left;
    margin-left: 3%;
}
.ts, .tsalt{
    margin-top: 18px;
    margin-right: 10%;
}
.tsalt{
    margin-top: 7px;
}
.ts img{
    border-radius: 50%;
}





/* Подвал */
footer{
    background-color: rgb(41, 41, 41);
}
.footbox{
    display: flex;
    flex-direction: row;
    width: 1024px;
    height: 200px;
    margin: 0 auto;
    padding: 30px;
    justify-content: space-around;

}
li{
    list-style-type: none;
    font-family: 'lato',sans-serif;
    font-variant: small-caps;
}
footer div ul li{
    color: white;
    margin-top: 10px;
    font-style: italic;
}
footer div ul li a, footer p{
    color: white;
}

